.container{
    background-color: chocolate;
    border-radius: 10%;
    border-style: solid;
    border-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    min-width: 1000px;
}
html {
    transition: background-color 0.5s ease, color 0.5s ease, color-scheme 0.5s ease;
}
#btn-tema{
    font-family: sans-serif;
    font-display: block;
    border-radius: 10%;
    border-style: solid;
    border-color: black;
    height: 200px;
    width: 250px;
    background-image: url('key-art.gif');
    background-size: 100%;
}
.links{
    background-color: azure;
    border-color: black;
    border-radius: 10%;
    border-style: solid;
}